[submodule "ext/drawio"]
	path = ext/drawio
	url = https://github.com/jgraph/drawio.git
[submodule "ext/drawio-desktop"]
	path = ext/drawio-desktop
	url = https://github.com/jgraph/drawio-desktop.git
[submodule "ext/drawio-integration"]
	path = ext/drawio-integration
	url = https://github.com/jgraph/drawio-integration.git
[submodule "ext/drawio-mcp-extension"]
	path = ext/drawio-mcp-extension
	url = https://github.com/lgazo/drawio-mcp-extension.git
